{% extends 'profile/profile.html' %}
{% load static %}
{% block profile %}
    <div class="profile_block">
        <img src="{% static 'img/donat_profile_top.png' %}" class="profile_donat_top" alt="">
        <div class="donat_posts">
            <p class="profile_title">Ваши публикации</p>
            <div class="add_filter">
                <a href="{% url 'add_post' %}" class="add_new">Добавить новую  +</a>
            </div>
            <div class="posts_list">
                {% for post in post_list %}
                    <div class="posts_list_item">
                        <img src="{{ post.image_post.url }}" class="post_poster" alt="">
                        <a href="{% url 'post_detail' post.id %}" class="go_to_post">Перейти</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <img src="{% static 'img/donat_profile_bottom.png' %}" class="profile_donat_bottom" alt="">
    </div>
{% endblock profile %}