{% load static %}
<header>
    <div class="container header">
      <div class="left_side">
          <div class="mobile_menu">
            <input class="side-menu" type="checkbox" id="side-menu"/>
            <label class="hamb" for="side-menu"><span class="hamb-line green_line"></span></label>
            <!-- Menu -->
            <nav class="nav green_nav">
                <ul class="menu">
                    <a href="/" class="white_nav_item">Главная</a>
                    <a href="{% url 'about' %}" class="white_nav_item">О портале</a>
                    <a href="{% url 'cookers' %}" class="white_nav_item">Кондитеры</a>
                    <a href="{% url 'recipes' %}" class="white_nav_item">Рецепты</a>
                    <a href="{% url 'posts' %}" class="white_nav_item">Публикации</a>
                </ul>
            </nav>
          </div>
        <div class="nav_left_side">
          <a href="{% url 'home' %}" class="nav_item">Главная</a>
          <a href="{% url 'about' %}" class="nav_item">О портале</a>
          <a href="{% url 'cookers' %}" class="nav_item">Кондитеры</a>
        </div>
        <div class="left_side_name">
          <p class="main_name left_name">MAGIC</p>
        </div>
      </div>
      <div class="logo_center">
        <a href="{% url 'home' %}">
          <img src="{% static 'img/logo.png' %}" class="logo white" alt="логотип Magoc Cake">
        </a>
      </div>
      <div class="right_side">
        <div class="right_side_name">
          <p class="main_name right_name">CAKE</p>
        </div>
        <div class="nav_right_side">
          <a href="{% url 'recipes' %}" class="nav_item">Рецепты</a>
          <a href="{% url 'posts' %}" class="nav_item">Публикации</a>
        </div>
        <div class="profiles_block">
            {% if user.is_authenticated and user.username != 'admin' %}
              <a href="{% url 'profile' %}" class="profile">
                <img src="{% static 'img/user_auth_green.png' %}" class="profile_icon_gray" alt="Профиль">
              </a>
            {% else %}
              <a href="{% url 'register' %}" class="profile">
                <img src="{% static 'img/profile.png' %}" class="profile_icon_gray" alt="Профиль">
              </a>
            {% endif %}
          <a href="{% url 'cart' %}" class="cart">
            <img src="{% static 'img/cart.png' %}" class="cart_icon_gray" alt="Корзина">
          </a>
        </div>
      </div>
    </div>
</header>